<template>
    <div class="container-fluid">
        <div class='row'>
            <div class='col-3'>
                <div class="card">
                    <div class="card-header"><center>Filter Weather data by date</center></div>
                    <div class="card-body">
                        <label class='d-inline'>Start Date</label>
                        <vuejs-datepicker   v-model="filter.start" placeholder="start" format="yyyy-MM-dd" class='d-inline mb-2'></vuejs-datepicker>
                        <label class='d-inline'>End Date</label>
                        <vuejs-datepicker   v-model="filter.end" placeholder="end" format="yyyy-MM-dd" class='d-inline mb-2'></vuejs-datepicker>
                        <center><button :disabled="filter.start >= filter.end" class='btn btn-info btn-inline mt-2' @click="filterDate()" style='margin: 2px 5px;'>Filter</button></center>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header"><center>Filter Weather data by location</center></div>
                    <div class="card-body">
                        <label class='d-inline'>Latitude</label></br>
                        <input type='text' class='mb-2' v-model='filter.lat' placeholder="Latitude"/>
                        <label class='d-inline'>Longitude</label>
                        <input type='text' class='mb-2' v-model='filter.lon' placeholder="Longitude" />
                        <center><button :disabled="!filter.lat && !filter.lon" class='btn btn-info btn-inline' @click="filterLocation()" style='margin: 2px 5px;'>Filter</button></center>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">Delete Weather Data by Date range</div>
                    <div class="card-body">
                        <label>Start Date</label>
                        <vuejs-datepicker   v-model="dateStart" placeholder=" Start date" format="yyyy-MM-dd" class='mb-2'></vuejs-datepicker>
                        <label>End Date</label>
                        <vuejs-datepicker   v-model="dateEnd" placeholder="End date" format="yyyy-MM-dd" class='mb-2'></vuejs-datepicker>
                        <center><button :disabled="dateStart >= dateEnd"  class='btn btn-danger mb-3 '  @click="deleteByRange()">Delete</button></center>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-header"><center>All Weather Data</center></div>
                    <div class="card-body">
                       <button  class='btn btn-danger btn-inline mb-3 float-right'  @click="deleteWeather()">Delete All</button>
                       <button  class='btn btn-info  btn-inline mb-3 mr-2 float-right'  @click="fetchWeather()">Get all Weather data</button>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link text-dark" href="#" 
                                    @click="fetchWeather(pagination.prev_page_url)">Previous</a></li>
                                <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li>
                                <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#"
                                    @click="fetchWeather(pagination.next_page_url)">Next</a></li>
                            </ul>
                        </nav>
                        <table class="table table-light b-table-bordered">
                            <thead class='thead-light ' >
                                <tr>
                                  <th scope="col" width='10%'>Date</th>
                                  <th scope="col" width='10%'>State</th>
                                  <th scope="col" width='10%'>City</th>
                                  <th scope="col" width='40%'>Temperature 24 Hours</th>
                                  <th scope="col" width='20%'>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope='row' v-for="weather in weathers" v-bind:key="weather.id">
                                    <td>{{weather.date}}</td>
                                    <td>{{weather.location.state}}</td>
                                    <td>{{weather.location.city}}</td>
                                    <td>{{weather.temperature}}></td>
                                    <td><button class='btn btn-danger btn-inline float-right' @click="deleteById(weather.id)" style='margin: 2px 5px;'>Delete</button><button class='btn btn-warning btn-inline float-right' @click="editWeather(weather)" style='margin: 2px 5px;'>Edit</button>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                        <center><span  class='font-weight-bold' v-if="weathers.length == 0">No weather data availble</span></center>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">Add Weather Data</div>
                    <div class="card-body">
                        <div class="jumbotron">
                            <p v-if="errors.length" v-bind:class="[errorClass]">
                                <b>Please correct the following error(s):</b>
                                <ul>
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </p>
                            <form class='form' @submit.prevent="addWeatherData()">
                                <div class='form-group'>
                                    <input v-model="weather.id" type="hidden"/>
                                    <label class='d-inline'>Date</label>
                                    <vuejs-datepicker id='date'  v-model="weather.date" placeholder="date" format="yyyy-MM-dd" class='d-inline mb-2'></vuejs-datepicker>
                                    <label>Weather (Hourly)</label>
                                    <input v-model="weather.temperature" ref="temperature" type='text' class='form-control mb-2' placeholder='fill in the 24 hour temperature seprated by comma'>
                                    <label>State</label>
                                    <input  v-model='weather.location.state'class='form-control mb-2'  type="text" >
                                    <label>City</label>
                                    <input  v-model='weather.location.city'class='form-control mb-2'  type="text" />
                                    <label>Latitude</label>
                                    <input v-model="weather.location.lat" class='d-block mb-2' />
                                    <label>Longitute</label>
                                    <input v-model="weather.location.lon" class='d-block mb-2'/>
                                    <button type='submit' class='btn btn-success btn-block mb-3'>Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            
        },
        created(){
            this.fetchWeather();
        },
        data(){
            return{
                prefer:{
                    'startDate':'',
                    'endDate':'',
                    'lat':'',
                    'lon':'',
                },
                errors:[],
                errorClass: 'text-danger',
                weathers :[],
                weather:{
                    'weather_id':'',
                    'date':'',
                    'location':{
                        'lat':'',
                        'lon':'',
                        'city':'',
                        'state':'',
                    },
                    'temperature':[],
                },
                pagination:{},
                edit:false,
                locations:[],
                states:[],
                cities:[],
                dateStart:'',
                dateEnd:'',
                filter:{
                    'start':'',
                    'end':'',
                    'lat':'',
                    'lon':''
                }
            }
        },
        methods:{
            fetchWeather(page_url){
                let vm =this;
                page_url = page_url || '/api/weather/';
                fetch(page_url)
                .then(res=>res.json())
                .then(data =>{
                    this.weathers=(data.data);
                    vm.makePagination(data.meta,data.links);
                })
                .catch(err => console.log(err));
            },
            makePagination(meta, links){
                let pagination={
                'current_page':meta.current_page,
                'last_page':meta.last_page,
                'next_page_url':links.next,
                'prev_page_url':links.prev
                }

                this.pagination = pagination;
            },
            addWeatherData(){
                this.validation();
                if(this.errors.length > 0){
                    return false;
                }
                this.weather.temperature=this.weather.temperature.replace(' ', '');
                this.weather.temperature=this.weather.temperature.split(',')
                if(this.edit==false){
                    this.weather.date=this.dateFormat(this.weather.date);
                    fetch(`/api/weather`,{
                        method:'post',
                        headers:{'content-type':'application/json'},
                        body: JSON.stringify(this.weather)
                    })
                    .then(res => res.status)
                    .then(data =>{
                        if(data === 201){
                            this.weather.date="";
                            this.weather.temperature="";
                            this.weather.location.state="";
                            this.weather.location.city="";
                            this.weather.location.lat="";
                            this.weather.location.lon="";
                            this.weather.weather_id="";
                            alert('Weather Information Saved!');
                            this.fetchWeather();
                        }
                        if(data === 400){
                            alert('Server Error! Data not saved')
                        }
                })
                    .catch(err=>console.log(err))
                }
                else{
                    fetch(`/api/weather`,{
                        method:'put',
                        headers:{'content-type':'application/json'},
                        body: JSON.stringify(this.weather)
                    })
                    .then(res => res.status)
                    .then(data =>{
                        if(data === 201){
                            this.weather.date="";
                            this.weather.temperature="";
                            this.weather.location.state="";
                            this.weather.location.city="";
                            this.weather.location.lat="";
                            this.weather.location.lon="";
                            this.weather.weather_id="";
                            alert('Weather Information Updated!');
                            this.fetchWeather();
                            this.fecthLocation();
                            this.edit=false;
                        }
                        if(data === 400){
                            alert('Server Error!');
                        }

                    })
                    .catch(err=>console.log(err))
                }
            },
            editWeather(weather){
                this.edit=true;
                this.weather.date=weather.date;
                this.weather.weather_id=weather.id;
                this.weather.temperature=weather.temperature.toString();
                this.weather.location.state=weather.location.state.trim();
                this.weather.location.city=weather.location.city.trim();
                this.weather.location.lat=weather.location.lat;
                this.weather.location.lon=weather.location.lon;
                document.getElementById('date').focus();
            },
            deleteById(id){
            if(confirm('Are sure you want to delete this weather data?')){
                fetch(`/api/erase?id=${id}`, {
                    method:'delete',
                    headers:{'content-type':'application/json'}
                })
                .then(res => res.status)
                .then(data =>{
                    if(data === 200){
                        alert('Weather data deleted!');
                        this.fetchWeather();
                    }
                    if(data === 404){
                        alert('Does not exist');
                    }
                    else{
                        alert('There was an error!');
                    }
                })
            }
            },
            deleteWeather(){
                if(confirm('Are sure you want to delete all weather data?')){
                    fetch(`/api/erase/`, {
                        method:'delete',
                        headers:{'content-type':'application/json'}
                    })
                    .then(res => res.status)
                    .then(data =>{
                        if(data === 200){
                            alert('All weather data delete');
                            this.fetchWeather();
                        }
                        else{
                            alert('There was an error!');
                        }
                    })
                }
            },
            deleteByRange(){
                var start=this.dateFormat(this.dateStart);
                var end=this.dateFormat(this.dateEnd);
                if(confirm('Are sure you want to delete weather data by range?')){

                    console.log(this.dateStart);
                    fetch(`/api/erase?start=${start}&end=${end}`, {
                        method:'delete',
                        headers:{'content-type':'application/json'}
                    })
                    .then(res =>res.status())
                    .then(data=>{
                        if(data === 200){
                            alert('Deleted');
                            this.fetchWeather();
                        }
                        else{
                            alert('error');
                        }
                    })
                }
            },
            dateFormat(date){
                var dd = date.getDate();
                var mm = date.getMonth()+1;
                var yyyy=date.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                } 
                if (mm < 10) {
                    mm = '0' + mm;
                }
                return  yyyy+'-'+mm+'-'+dd; 
            },
            validation(){
                if (this.weather.date && this.weather.temperature && this.weather.state && this.weather.city && this.weather.lat && this.weather.lon) {
                    return true;
                }
                this.errors = [];
                if (!this.weather.date) {
                    this.errors.push('Date is required.');
                }
                if (!this.weather.temperature) {
                    this.errors.push('Temperature string required.');
                }
                if (!this.weather.location.state) {
                    this.errors.push('State required.');
                }
                if (!this.weather.location.city) {
                    this.errors.push('City required.');
                }
                if (!this.weather.location.lat) {
                    this.errors.push('Latitude required.');
                }
                if (!this.weather.location.lon) {
                    this.errors.push('Longitude required.');
                }
                if((this.weather.temperature.match(/,/g) || []).length != 23){
                    this.errors.push('Please enter temperature log for 24 hour.');
                };
            },
            filterDate(){
                var start = this.dateFormat(this.filter.start)
                var end   = this.dateFormat(this.filter.end)
                fetch(`/api/weather?start=${start}&end=${end}`,{
                        method:'get',
                        headers:{'content-type':'application/json'},
                    })
                    .then(res => res.json())
                    .then(data =>{
                        this.weathers=data;
                    })
                    .catch(err =>console.log(err))
            },
            filterLocation(){
                fetch(`/api/weather?lat=${this.filter.lat}&lon=${this.filter.lon}`,{
                        method:'get',
                        headers:{'content-type':'application/json'},
                    })
                    .then(res => res.json())
                    .then(data =>{
                        this.weathers=data;
                    })
                    .catch(err =>console.log(err))
            }
        }
    }
</script>